$TTL 1D
@       IN SOA  prdx-nsm201.ziyotek2.local. root.prdx-nsm201.ziyotek2.local. (
                                        20200524        ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum

; name servers NS records
                IN      NS      prdx-nsm201.ziyotek2.local.
                IN      NS      prdx-nsw201.ziyotek2.local.
                IN      NS      prdx-nsw202.ziyotek2.local.

; name servers PTR records
13              IN      PTR     prdx-nsm201.ziyotek2.local.
14              IN      PTR     prdx-nsw201.ziyotek2.local.
15              IN      PTR     prdx-nsw202.ziyotek2.local.

; mail server MX records


; name servers PTR records
11              IN      PTR     prdx-ntp201.ziyotek2.local.
12              IN      PTR     prdx-ntp202.ziyotek2.local.
13              IN      PTR     prdx-nsm201.ziyotek2.local.
14              IN      PTR     prdx-nsw201.ziyotek2.local.
15              IN      PTR     prdx-nsw202.ziyotek2.local.
16              IN      PTR     prdx-pxe201.ziyotek2.local.
17              IN      PTR     prdx-ftp201.ziyotek2.local.
18              IN      PTR     prdx-nfs201.ziyotek2.local.
19              IN      PTR     prdx-samba201.ziyotek2.local.
20              IN      PTR     prdx-mail201.ziyotek2.local.
21              IN      PTR     prdx-db261.ziyotek2.local.
22              IN      PTR     prdx-db271.ziyotek2.local.
23              IN      PTR     prdx-web261.ziyotek2.local.
24              IN      PTR     prdx-web271.ziyotek2.local.
25              IN      PTR     prdx-web262.ziyotek2.local.
26              IN      PTR     prdx-web272.ziyotek2.local.
27              IN      PTR     prdx-web263.ziyotek2.local.
28              IN      PTR     prdx-web273.ziyotek2.local.
29              IN      PTR     prdx-lb261.ziyotek2.local.
30              IN      PTR     prdx-lb271.ziyotek2.local.
31              IN      PTR     prdx-nagios201.ziyotek2.local.
32              IN      PTR     prdx-ldap201.ziyotek2.local.
33              IN      PTR     prdx-ansible201.ziyotek2.local.
38              IN      PTR     prdx-dockm201.ziyotek2.local.
39              IN      PTR     prdx-dockw201.ziyotek2.local.
40              IN      PTR     prdx-dockw202.ziyotek2.local.
41              IN      PTR     prdx-jenkins201.ziyotek2.local.
42              IN      PTR     prdx-kubem201.ziyotek2.local.
43              IN      PTR     prdx-kubew201.ziyotek2.local.
44              IN      PTR     prdx-kubew202.ziyotek2.local.
37              IN      PTR     prdx-lb291.ziyotek2.local.
36              IN      PTR     prdx-web292.ziyotek2.local.
35              IN      PTR     prdx-web291.ziyotek2.local.
34              IN      PTR     prdx-wiki201.ziyotek2.local.

